* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  max-width: 1000px;
  margin: auto;
  padding: 0 2%;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  background-image: url(./images/colors.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  padding: 0 50px;
  width: 100%;
  background-color: rgb(45, 45, 51);
}

.header .center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header p {
  font-weight: 600;
  color: rgb(238, 204, 91);
  border: 1px solid ;
  padding: 2px 18px;
  border-radius: 3px;
  font-size: 23px;
  text-transform: uppercase;
}

section {
  background-color: rgba(233, 233, 212, 0.8);
  margin-top: 60px;
  padding: 20px;
  border-radius: 6px;
  max-width: 97%;
}

h1 {
  color: white;
}

.cores {
  display: flex;
  justify-content: space-around;
}

.ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid;
  margin-right: 7px;
}

p {
  text-align: center;
  margin: 25px 0;
  font-size: 25px;
}

.botao {
  display: flex;
  justify-content: center;
}

.errou {
  padding: 3px 0;
  border-radius: 5px;
  color: white;
  background-color: rgb(211, 70, 35);
}

.acertou {
  width: auto;
  padding: 3px 0;
  border-radius: 5px;
  color: white;
  background-color: rgb(83, 213, 111);
}

button {
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 4px;
  font-size: 17px;
}

@media screen and (max-width:480px) {
  .header .center{
    flex-direction: column;
    width: 100%;
  }
}
